@charset "UTF-8";

@font-face {
    font-family: 'audio';
    src: url(../fontes/Audiowide-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'exo';
    src: url(../fontes/Exo2-VariableFont_wght.ttf) format('truetype');
}

@font-face {
    font-family: 'game';
    src: url(../fontes/Fun\ Games.ttf) format('truetype');
}

@font-face {
    font-family: 'vermin';
    src: url(../fontes/Nau\ Sea.otf) format('opentype');
}

@font-face {
    font-family: 'mario';
    src: url(../fontes/SuperMario256.ttf) format('truetype');
}

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor01: #024059;
    --cor02: #026873;
    --cor03: #04BF8A;
    --cor04: #025940;
    --cor05: #03A64A;
    --cor06: #ffffff;
    --cor07: #000000d5;
    --cor08: #0468BF;
    --cor09: #E92F2C;

    --fonte01: 'exo';
    --fonte02: 'audio';
    --fonte03: 'game';
    --fonte04: 'vermin';
    --fonte05: 'mario';
}

header{
    background-image: linear-gradient(to left, var(--cor01), var(--cor07));
    height: 35vh;
    color: var(--cor06);
    text-align: center;
}

header > h1{
    font-family: var(--fonte02);
    padding-top: 40px;
    font-size: 4em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    font-weight: bolder;
}

header > p{
    font-size: 1.2em;
    text-transform: uppercase;
    font-family: var(--fonte01);
    padding-top: 50px;
    margin: auto;
}

nav{
    background-image: linear-gradient(to left, var(--cor01), var(--cor07));
    padding-bottom: 20px;
    padding-top: 50px;
    padding-left: 10px;
    font-size: 1.3em;
}


nav > a{
    color: var(--cor06);
    text-decoration: none;
    padding: 10px;
    font-family: var(--fonte01);
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.267);
    font-weight: bolder;
    transition-duration: .5s;
    
}

nav > a:hover{
    background-color: white;
    color: black;
    border-radius: 10px;
    transition-duration: 1s;
}

main{
    min-width: 400px;
    max-width: 1200px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    transition: .5s;
}

main h1{
    font-family: var(--fonte03);
    border-radius: 50px;
    color: black;
    padding-top: 10px;
    font-size: 2.7em;
    font-weight: normal;
    color: var(--cor02);
    font-weight: 600;
    background-image: linear-gradient(to left, var(--cor03), var(--cor06));
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
}

main p{
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: justify;
    font-size: 1.2em;
    line-height: 2.3em;
    font-family: var(--fonte01);
    font-weight: 500;
}

/* section{
    padding-top: 7vh;
    padding-bottom: 5vw; 
    display: inline-block;
}

#imagem01{
    background-image: url(../imagens/Super-Mario-Bros-Movie.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;

}

section.imagem > p{
    display: inline-block;
    text-shadow: 1px 1px 0px black;
}

section > p{
    
    padding-bottom: 1.5em;
    font-size: 4vh;
    color: #ff010193;
    text-shadow: 2px 10px 0px black;
    text-align: center;
    padding-top: 10vh;
    padding-left: 10px;
}

section > h3{
    background-image: linear-gradient(to top, var(--cor08), var(--cor09));
    text-align: center;
    font-size: 5vh;
    font-family: var(--fonte05);
    font-size: 3em;
    color: #05c7f2cc;
    padding: 5vh;
} */

strong{
    text-transform: uppercase;
    color: var(--cor02);
}

main h2{
    font-family: var(--fonte03);
    padding-top: 30px;
    font-size: 2.6em;
    font-weight: 600;
    background-image: linear-gradient(to left, var(--cor03), var(--cor06));
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.267);
    color: var(--cor04);
    border-radius: 50px;
}

footer{
    background-color: #0D0D0D;
    text-align: center;
    padding-top: 10px;
    color: white;
    font-size: 1em;
    height: 30px;
    font-family: var(--fonte01);
    text-transform: uppercase;
}

footer a{
    color: white;
    text-decoration: none;
    transition: .5s;
}

footer a:hover{
    color: rgb(189, 189, 248);
    text-decoration: underline;
}

