@charset "UTF-8";

@font-face {
    font-family: 'audio';
    src: url(../fontes/Audiowide-Regular.ttf);
}

@font-face {
    font-family: 'exo';
    src: url(../fontes/Exo2-VariableFont_wght.ttf);
}

*{
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --cor01: #F22738;
    --cor02: #D9BB84;
    --cor03: #F2C299;
    --cor04: #592C12;
    --cor05: #0D0D0D;

    --fonte01: 'exo';
    --fonte02: 'audio'
}

header{
    background-image: linear-gradient(to left, var(--cor04), var(--cor05));
    height: 35vh;
    color: var(--cor02);
    text-align: center;
}

header > h1{
    font-family: var(--fonte02);
    padding-top: 40px;
    font-size: 4em;
}

header > p{
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 50px;
    margin: auto;
}

nav{
    background-image: linear-gradient(to left, var(--cor04), var(--cor05));
    padding-bottom: 20px;
    padding-top: 40px;
    padding-left: 10px;
    font-size: 1.3em;
    

}

nav > a{
    color: var(--cor02);
    text-decoration: none;
    padding: 10px;
    font-weight: bolder;
    transition-duration: .5s;
    
}

nav > a:hover{
    background-color: white;
    color: black;
    border-radius: 3px;
    transition-duration: 1s;
}

main{
    min-width: 400px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
}